<!DOCTYPE html>
<head>
  <title>Node: Workshop 2</title>
  <link rel="stylesheet" href="./css/styles.css" />
</head>
<body>
  <header>
    <h1>Node: Workshop 2</h1>
  </header>
  <div class="main">
    <h2>Homepage</h2>
      <div class="table">
        <a href="<%= `/question1` %>" class = homebutton>Q1</a>
        <a href="<%= `/question2` %>" class = homebutton>Q2</a>
        <a href="<%= `/question3` %>" class = homebutton>Q3</a>
        <a href="<%= `/question4` %>" class = homebutton>Q4</a>
        <a href="<%= `/question5` %>" class = homebutton>Q5</a>
        <a href="<%= `/question6` %>" class = homebutton>Q6</a>
        <a href="<%= `/question7` %>" class = homebutton>Q7</a>
        <a href="<%= `/question8` %>" class = homebutton>Q8</a>
        <a href="<%= `/question9` %>" class = homebutton>Q9</a>
        <a href="<%= `/question10` %>" class = homebutton>Q10</a>
      </div>
    </div>
  </div>
</body>
